.home {
  display: flex;
  font-family: 'Bebas Neue', sans-serif;
  overflow-y: hidden;

  .column {
    height: 100vh;
    width: 50%;
  }

  &__left {
    overflow: hidden;

    > * {
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__coffee{
    }

    &__weather{
    }
  }

  &__right {
  }
}
